//Setting our variables

//Colors
$main-color: rgb(17, 17, 17);
$secondary-color: white;
$highlight-color: rgba(0, 0, 0, 0.5);

//Font sizes
$h1: 3.8rem;
$h2: 3.2rem;
$h3: 2.8rem;
$h4: 1.8rem;
$h5: 1.6rem;
$h6: 1.4rem;

//miscelleneous
$transition : all 0.3s ease-in;