//mixing and functions
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//importing our boiler css styling
@import './abstract/variables';
@import './base/global';

.App{
   min-height: 100vh;
   width: 100%;
}

//importing our pages
@import './pages/Products';

//import our components' styling
@import './components/navigation';
@import './components/productsContainer';
@import './components/productItem';
@import './components/miscelleneous';